* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  max-width: 2048px;
  background-image: url("../images/bg.png");
  font-family: 'Permanent Marker', cursive;
}

/* PAGINA PREGUNTAS FRECUENTES */
.seccionpreguntas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.preguntas {
  width: 50%;
  border: solid black 3px;
  margin-bottom: 1%;
  padding: 1%;
  background-image: url("../images/bg2.png");
}

.preguntagrande {
  font-weight: bold;
  font-size: 150%;
}

.preguntas:hover {
  color: #F0F8FF;
  background-image: url("../images/bg3.png");
}

/* BARRA DE NAVEGACION */

.titulo a {
  font-family: 'Monoton', cursive;
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 189%;
}

.titulo{
  margin: 0;
  display: flex;
  align-items: flex-end;
}
.titulo a:hover {
  text-decoration: none;
  color: #F0F8FF;
}

.navbar {
  width: 100%;
  padding-top: 2%;
  background-color: gray;
  margin: 0;
  margin-bottom: 1%;
}

.ulheader {
  width: 100%;
  margin: 0;
  padding-left: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ulheader li {
  width: 30%;
  text-align: center;
  list-style-type: none;
}
.ulheader li a{
  color: black;
  text-decoration: none;
}
.ulheader li a:hover {
  color: black;
  text-decoration: none;
}

/* .logocontainer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
} */

.Barraheader{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: black;
  height: 15vh;
  margin: 0;
}
.logo {
 margin: 0;
 width: 19%;
}

.divlogo{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  height: 15vh;
}

.BarraInicioRegi {
  width: 50%;
  height: 15vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;

}

.BarraInicioRegi a {
  margin: 0 5px;
  color: white;
  font-size: 200%;
}

.BarraInicioRegi a:hover {
  color: cyan;
  text-decoration: none;
}

/* WIDTH DE BOOTSRAP CAMBIADO PARA SER MAS ESPECIFICO (CARRUSEL) */
.w-25 {
  width: 10% !important;
}

/* SECCION DE LAS MARCAS */
.productos {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

.articulo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

article {
  width: 48%;
  height: 40vh;
}

.titulomarca {
  text-align: center;
  padding: 5%;
  font-size: 400%;
}

.adidas {
  width: 100%;
  padding: 6%;
}

.lacoste {
  width: 100%;
  padding-top: 17%;
}

.reebok {
  width: 100%;
  padding-top: 13%;
}

.new {
  width: 100%;
  padding-top: 2%;
}

/* FOOTER */
i:hover {
  color: cyan;
}

/* FORMULARIOS */
.seccionformulario1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.seccionformulario2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formularios {
  background-image: url("../images/bg2.png");
  border: groove gray 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

.formularios:hover {
  background-image: url("../images/bg3.png");
  color: cyan;
}

.input {
  width: 100%;
}

/* MEDIA QUERIES TABLET Y MOBILE */
@media (max-width: 768px) {

   .logo {
     width: 25%;
   }
   .titulo a{
     font-size: 156%;
   }
   .BarraInicioRegi a{
     font-size: 175%;
   }
   .ulheader{
     width: 100%;
   }
   ul {
     width: 67%;
   }

   ul li {
     padding-top: 3%;
     font-size: 100%;
   }

   .titulo {
     font-size: 200%;
   }

  .productos {
    flex-direction: column;
  }

  .articulo {
    display: flex;
    flex-direction: row;
  }

  .articulo article {
    width: 48%;
    margin: 1% 1%;
  }
}

@media (max-width: 425px) {
  ul{
    width: 70%;
  }

.divlogo  {
width: 48%;
 flex-direction: column;
}

.titulo a {
  font-size: 77%;
}

.logo {
  position: relative;
  left: 18%;
  width: 30%;
}
.BarraInicioRegi a {
  font-size: 152%;
}
  ul li{
    padding-top: 2%;
    font-size: 80%;
    padding-left: 8%;
  }

  .productos {
    flex-direction: column;
  }

  .articulo {
    flex-direction: column;
  }

  .productos article {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 98%;
  }

  .titulomarca {
    padding-top: 10%;
    font-size: 350%;
  }

  .adidas {
    width: 100%;
    padding: 15%;
  }

  .lacoste {
    width: 100%;
    padding: 8%;
  }

  .reebok {
    width: 100%;
    padding: 1%;
  }

  .new {
    width: 100%;
    padding: 2%;
  }

  .articulo {
    padding-top: 20%;
  }

  .preguntas {
    width: 85%;
    margin-bottom: 2%;
  }
}
@media (max-width: 375px) {

.divlogo  {
width: 50%

}

.titulo a {

}

.logo {
  left: 20%;
  width: 32%;

}
  }

@media (max-width: 320px) {
  ul li{
    font-size: 74%;
    padding-left: 4%;
  }


   .logo {
     position: relative;
       left: 18%;
       width: 37%;  }


  .titulo a {
    font-size: 69%;
  }

  .BarraInicioRegi a {
    font-size: 136%;
  }

}
